In [1]:
import pandas as pd

In [4]:
train = pd.read_csv("train_bike.csv",parse_dates = ["datetime"])
print(train.shape)      #read_csv(,parse_dates = ["datetime]) -> datetime을 단순 value가 아니라 dates로 인식한다 
train.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [5]:
test = pd.read_csv("test_bike.csv",parse_dates = ["datetime"])
print(test.shape)
test.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [6]:
#우리가 예측에 사용할 변수를 feature_names로 설정해 줘야 한다 
feature_names = ["season", "holiday", "workingday", "weather", "temp", "atemp", "humidity","windspeed"]

In [7]:
X_train = train[feature_names] #X_train 이라는 feature data 모음을 정의한다

In [9]:
print(X_train.shape)
X_train.head()

(10886, 8)

   season  holiday  workingday  weather  temp   atemp  humidity  windspeed
0       1        0           0        1  9.84  14.395        81        0.0
1       1        0           0        1  9.02  13.635        80        0.0
2       1        0           0        1  9.02  13.635        80        0.0
3       1        0           0        1  9.84  14.395        75        0.0
4       1        0           0        1  9.84  14.395        75        0.0

In [12]:
X_test = test[feature_names]
print(X_test.shape)
X_test.head()

(6493, 8)

   season  holiday  workingday  weather   temp   atemp  humidity  windspeed
0       1        0           1        1  10.66  11.365        56    26.0027
1       1        0           1        1  10.66  13.635        56     0.0000
2       1        0           1        1  10.66  13.635        56     0.0000
3       1        0           1        1  10.66  12.880        56    11.0014
4       1        0           1        1  10.66  12.880        56    11.0014

In [14]:
label_name = "count"
y_train = train[label_name]
print(y_train.shape)
y_train.head()

(10886,)

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

In [22]:
%matplotlib inline
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=20) #random_state는 임의로 정해주면 된다. system내부 난수 결정

model.fit(X_train, y_train) #train의 feature데이터와 train의 labeldata를 model에 fit시킨다

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=20, verbose=0, warm_start=False)

In [23]:
predictions = model.predict(X_test)

print(predictions.shape)
predictions[0:10]

(6493,)

array([ 146.5 ,   56.1 ,   56.1 ,  104.45,  104.45,   36.5 ,   98.8 ,
         72.  ,   78.1 ,  192.9 ])

In [24]:
submit = pd.read_csv("sampleSubmission.csv")
print(submit.shape)
submit.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00      0
1  2011-01-20 01:00:00      0
2  2011-01-20 02:00:00      0
3  2011-01-20 03:00:00      0
4  2011-01-20 04:00:00      0

In [27]:
submit["count"] = predictions
print(submit.shape)
submit.head()

(6493, 2)

              datetime   count
0  2011-01-20 00:00:00  146.50
1  2011-01-20 01:00:00   56.10
2  2011-01-20 02:00:00   56.10
3  2011-01-20 03:00:00  104.45
4  2011-01-20 04:00:00  104.45

In [28]:
submit.to_csv("basline_bike.csv", index = False)